h1{
  position: relative;
  text-align: center;
  margin-top: 50px;
}

img{
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 550px;
}

table{
    margin-left: 460px;
    margin-bottom: 50px;
}
